[project]
	description = Utilities and WebApp for certificate creation within a browser, for FOAF+SSL
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Robert Giacinto (lichtsprung)
[access "refs/for/refs/*"]
	read = group user/Robert Giacinto (lichtsprung)
	push = group user/Robert Giacinto (lichtsprung)
	label-Code-Review = -2..+2 group user/Robert Giacinto (lichtsprung)
	label-Verified = -1..+1 group user/Robert Giacinto (lichtsprung)
	rebase = group user/Robert Giacinto (lichtsprung)
	removeReviewer = group user/Robert Giacinto (lichtsprung)
	submit = group user/Robert Giacinto (lichtsprung)
[access "refs/heads/*"]
	read = group user/Robert Giacinto (lichtsprung)
	create = group user/Robert Giacinto (lichtsprung)
	push = +force group user/Robert Giacinto (lichtsprung)
	pushMerge = group user/Robert Giacinto (lichtsprung)
[access "refs/tags/*"]
	push = +force group user/Robert Giacinto (lichtsprung)
	pushTag = group user/Robert Giacinto (lichtsprung)
	pushSignedTag = group user/Robert Giacinto (lichtsprung)
